.entire-suggestion {
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    background-color: #6a5c6e;
}

.only-keyword {
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    background-color: #9b89a1;
}

.reply-text{
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reply-block{
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    background-color: white;
}
