<div *ngIf="viewMode">
  <div *ngIf="currentSite.id">
    <h4 class="mt-3">Site detail</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentSite.name }}
    </div>
    <div>
      <label><strong>Code:</strong></label>
      {{ currentSite.code }}
    </div>

    <a
      [href]="'/sites/gen-script/{{ currentSite.code }}'"
    >
      Script Generation
    </a>
  </div>

  <div *ngIf="!currentSite">
    <br />
    <p>Please click on a Site...</p>
  </div>
</div>

<!--<ng-template #editable>-->
<!--  <div *ngIf="currentSite.id" class="edit-form">-->
<!--    <h4>Site</h4>-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="title">Title</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          id="title"-->
<!--          [(ngModel)]="currentSite.title"-->
<!--          name="title"-->
<!--        />-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="description">Description</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          id="description"-->
<!--          [(ngModel)]="currentSite.description"-->
<!--          name="description"-->
<!--        />-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label><strong>Status:</strong></label>-->
<!--        {{ currentSite.published ? "Published" : "Pending" }}-->
<!--      </div>-->
<!--    </form>-->

<!--    <button-->
<!--      class="badge badge-primary mr-2"-->
<!--      *ngIf="currentSite.published"-->
<!--      (click)="updatePublished(false)"-->
<!--    >-->
<!--      UnPublish-->
<!--    </button>-->
<!--    <p>{{ message }}</p>-->
<!--  </div>-->

<!--  <div *ngIf="!currentSite.id">-->
<!--    <br />-->
<!--    <p>Cannot access this Site...</p>-->
<!--  </div>-->
<!--</ng-template>-->
