<div *ngIf="viewMode">
  <div *ngIf="currentSite.siteId">
    <h4>Site</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentSite.name }}
    </div>
    <div>
      <label><strong>Code:</strong></label>
      {{ currentSite.code }}
    </div>

    <button (click)="genScript()">Generate Script</button>
  </div>

  <div *ngIf="!currentSite">
    <br />
    <p>Please click on a Site...</p>
  </div>
</div>

<div class="popup" *ngIf="openDialog">
  <div class="popup-header">
    <h2>Popup Title</h2>
<!--    <button (click)="copyContent()">Copy</button>-->
  </div>
  <div class="popup-content">
    {{popupContent}}
  </div>
</div>
