.edit-form {
  max-width: 400px;
  margin: auto;
}

#embedded-script {
  font-family: monospace;
  background-color:  black;
  color: white;
  font-size: 10px;
}

#script-header h6 {
  margin-bottom: 0;
}

#script-header, #script-header .cp-btn {
  justify-content: space-between;
  display: flex;
  align-content: center;
  align-items: center;
  padding-right: 0;
}

#script-header .cp-btn i {
  padding-right: 5px;
}


